.App {
  text-align: center;
  background-color: #282c34;
}

.content {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#nappi {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #516f7a;
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  font-size: 0.7em;
}

.neg {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
}

.pos {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
}

input {
  background-color: lightgray;
  width: 350px;
  height: 45px;
}

::placeholder {
  font-size: 0.8em;
}